{
    "host": "https://your.url.here",
    "path": "/your/path/to/images/here/",
    "ext": "jpg",
    "bg": "000000",
    "bgvignette": true,
    "bgpattern": true,
    "bgext": "gif",
    "extlink": "https://github.com/theMK2k/bigbox3d",
    "extlink_innerhtml": "sample of <b>Big Box 3D</b>"
}