{
    "host": "https://your.url.here",
    "path": "/your/path/to/images/here/",
    "ext": "jpg",
    "bg": "000000",
    "bgvignette": true,
    "bgpattern": true,
    "bgext": "gif",
    "bginterval": 10,
    "extlink": "https://github.com/theMK2k/bigbox3d",
    "extlink_innerhtml": "sample of <b>Big Box 3D</b>",
    "rotation_speed": 20,
    "rotation_amortization": 0.91,
    "rotation_initial_x": 0.15,
    "rotation_initial_y": -0.15
}